{{define "content"}}
<div class="rows masonry top-row">
    <figure>
        <img onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_url_hash="203317843" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/cinderella.jpg">
        <figcaption>Cinderella wearing European fashion of the mid-1860's</figcaption>
    </figure>

    <figure>
        <p>You have to learn the rules of the game. And then you have to play better than anyone else.</p>
        <figcaption>Albert Einstein</figcaption>
    </figure>

    <figure>
        <img onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_url_hash="1084029102" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/belle.jpg">
        <figcaption>Belle, based on 1770's French court fashion</figcaption>
    </figure>

    <figure>
        <img onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_url_hash="2156566240" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/mulan_2.jpg">
        <figcaption>Mulan, based on the Ming Dynasty period</figcaption>
    </figure>

    <figure>
        <a href="//google.com">
            <p>You can search throughout the entire universe for someone who is more deserving of your love and affection than you are yourself, and that person is not to be found anywhere.</p>
            <p>You yourself, as much as anybody in the entire universe deserve your love and affection.</p>
        </a>
        <figcaption>Buddha</figcaption>
    </figure>

    <figure>
        <img onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_url_hash="750313030" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/sleeping-beauty.jpg">
        <figcaption>Sleeping Beauty, based on European fashions in 1485</figcaption>
    </figure>

    <figure>
        <img onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_url_hash="1669422637" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/snow-white.jpg">
        <figcaption>Snow White, based on 16th century German fashion</figcaption>
    </figure>

    <!--
    <figure>
        <iframe src="//giphy.com/embed/BgnKc6mLmE8tq?html5=true" width="100%" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <figcaption>Surprised Kitten</figcaption>
    </figure>
    -->

    <figure>
        <img onload="pagespeed.CriticalImages.checkImageForCriticality(this);" pagespeed_url_hash="3017837603" src="//s3-us-west-2.amazonaws.com/s.cdpn.io/4273/ariel.jpg">
        <figcaption>Ariel wearing an evening gown of the 1890's</figcaption>
    </figure>
</div>
{{end}}
